---
layout: home
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<div class="index-content tags">
    <div class="section">
        <ul class="artical-cate">
            <li  style="text-align:left"><a href="/"><span>Notes</span></a></li>
            <li style="text-align:left"><a href="/mood"><span>Mood</span></a></li>
            <li style="text-align:left"><a href="/relays"><span>Relays</span></a></li>
            <li style="text-align:left" class="on"><a href="/tags.html"><span>Tags</span></a></li>
            <li style="text-align:left"><a href="/about.html"><span>About</span></a></li>
        </ul>

        <div class="cate-bar"><span id="cateBar"></span></div>
		<ul class="tag_box inline">
		  {% assign tags_list = site.tags %}  
		  {% include JB/tags_list %}
		</ul>

		<div class="cate-bar"><span id="cateBar"></span></div>
		<div class="tag-bar">
		{% for tag in site.tags %} 
		  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
		  <ul>
		    {% assign pages_list = tag[1] %}  
		    {% include JB/pages_list %}
		  </ul>
		{% endfor %}
	</div>
    </div>
    <div class="aside">
    </div>
</div>

